.card-container {
	width: 213px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #95dada;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

img {
	width: 90%;
	margin-top: -15px;
}

h2 {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

p {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.card-container:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 800px) {
	.card-container {
		width: 185px;
		height: 250px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}

	.card-container:hover {
		transform: none;
	}
}

@media screen and (max-width: 400px) {
	.card-container {
		width: 165px;
		height: 265px;
	}

	h2 {
		font-size: 18px;
	}

	p {
		font-size: 12px;
	}
}
